* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-dark-70);
}

header,
main,
#sctn-1,
#bnr-1,
#bnr-2,
#sctn-2,
#ttl-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  padding: 2% 0;
  background-color: var(--color-dark-100);
  color: var(--color-light-100);
}

h1 {
  font-size: 210%;
}

main {
  padding: 3%;
}

#bnr-1 {
  line-height: 360%;
}

h2 {
  color: var(--color-light-100);
  font-size: 400%;
}

h3 {
  color: var(--color-red-80);
  font-size: 400%;
  font-weight: 500;
}

#bnr-2 {
  border-top: 2px solid var(--color-dark-70);
  margin-top: 10%;
  padding-top: 5%;
  text-align: center;
  color: var(--color-light-100);
}

span {
  background-color: var(--color-dark-50);
  font-weight: 500;
}

img {
  height: 30vh;
  width: 80vw;
  margin: 5% 0;
}

#sctn-2 {
  background-color: var(--color-dark-50);
  color: var(--color-light-100);
  text-align: center;
  border-radius: 3%;
}

#ttl-form {
  padding: 5%;
}

h4 {
  font-size: large;
  font-weight: 500;
}

h5 {
  font-size: small;
  font-weight: 300;
  margin-bottom: 5%;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  padding-top: 5%;
  border-top: 2px dotted var(--color-dark-100);
}

label {
  font-weight: 500;
  margin-top: 10px;
}

input {
  display: flex;
  border: none;
  border-bottom: 1px solid var(--color-light-100);
  outline: none;
  font-size: 14px;
  padding: 10px;
  background-color: transparent;
  color: var(--color-light-100);
}

button {
  margin: 5% 0;
  padding: 5%;
  font-size: larger;
  font-weight: 500;
  color: var(--color-light-100);
  border: none;
  border-radius: 5px;
  background-color: var(--color-red-80);
  cursor: pointer;
}

button:focus {
  background-color: var(--color-red-50);
}

#wng {
  font-size: small;
}

/* Responsive screen */

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 280%;
  }

  #bnr-1 {
    line-height: 580%;
  }

  h2,
  h3 {
    font-size: 600%;
  }

  #bnr-2 {
    border-top: 4px solid var(--color-dark-70);
  }

  h4 {
    font-size: 180%;
  }

  h5 {
    font-size: 130%;
  }

  p {
    font-size: 130%;
  }

  label {
    font-size: 160%;
  }

  input {
    font-size: 100%;
    padding: 12px;
  }
}

@media only screen and (min-width: 950px) {
  h1 {
    font-size: 280%;
  }

  main {
    flex-direction: row;
  }

  #sctn-1 {
    width: 50vw;
    padding-right: 3rem;
  }

  #bnr-1 {
    line-height: 380%;
  }

  h2,
  h3 {
    font-size: 400%;
  }

  #bnr-2 {
    border-top: 4px solid var(--color-dark-70);
    width: 40vw;
  }

  #ttl-form {
    width: 35vw;
  }

  h4 {
    font-size: 130%;
  }

  h5 {
    font-size: 100%;
  }

  p {
    font-size: 130%;
    overflow: auto;
  }

  label {
    font-size: 100%;
  }

  input {
    font-size: 85%;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 280%;
  }

  main {
    flex-direction: row;
  }

  #sctn-1 {
    width: 50vw;
    padding-right: 3rem;
  }

  #bnr-1 {
    line-height: 380%;
  }

  h2,
  h3 {
    font-size: 400%;
  }

  #bnr-2 {
    border-top: 4px solid var(--color-dark-70);
    width: 40vw;
  }

  #ttl-form {
    width: 30vw;
  }

  h4 {
    font-size: 130%;
  }

  h5 {
    font-size: 100%;
  }

  p {
    font-size: 130%;
    overflow: auto;
  }

  label {
    font-size: 100%;
  }

  input {
    font-size: 85%;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1480px) {
  h1 {
    font-size: 300%;
  }

  main {
    flex-direction: row;
  }

  #sctn-1 {
    width: 50vw;
    padding-right: 3rem;
  }

  #bnr-1 {
    line-height: 480%;
  }

  h2,
  h3 {
    font-size: 500%;
  }

  #bnr-2 {
    border-top: 4px solid var(--color-dark-70);
    width: 40vw;
  }

  #ttl-form {
    width: 35vw;
  }

  h4 {
    font-size: 180%;
  }

  h5 {
    font-size: 120%;
  }

  p {
    font-size: 150%;
    overflow: auto;
  }

  label {
    font-size: 120%;
  }

  input {
    font-size: 95%;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1700px) {
  h1 {
    font-size: 400%;
  }

  main {
    flex-direction: row;
  }

  #sctn-1 {
    width: 50vw;
    padding-right: 3rem;
  }

  #bnr-1 {
    line-height: 580%;
  }

  h2,
  h3 {
    font-size: 600%;
  }

  #bnr-2 {
    border-top: 4px solid var(--color-dark-70);
    width: 40vw;
  }

  #ttl-form {
    width: 40vw;
  }

  h4 {
    font-size: 230%;
  }

  h5 {
    font-size: 160%;
  }

  p {
    font-size: 180%;
    overflow: auto;
  }

  label {
    font-size: 160%;
  }

  input {
    font-size: 115%;
    padding: 1rem;
  }

  button {
    font-size: 180%;
  }
}

/* Variables Colors */
:root {
  --color-dark-100: #000000;
  --color-dark-70: #292929d8;
  --color-dark-50: #2a2a2a70;

  --color-light-100: #ffffff;

  --color-red-80: #f82a2a;
  --color-red-50: #f82a2ad0;
}
